.tab-list{list-style-type: none; margin: 0px; padding: 0px;}
.tab-item{float:left; font-size:14px; margin:0px 4px 0px 0px; border:1px solid black; border-bottom-width: 0px;background:#ddd;}
.tab-link{text-decoration: none; padding: 0px 15px;}
.tab-item.active{position:relative; background:white; top: 1px; }
.tab-item.active .tab-link{background-color: white;}
.tab-page{border-left: 1px solid; border-top: 1px solid; display: none; font-size:14px; z-index:10; ;}
.tab-page.active{display: block;clear: both;}
.tab-vertical-list{list-style-type: none; padding: 0px; margin: 0px; float: left;font-size:0px; border-right: 1px solid;}
.tab-vertical-item{margin-bottom: 4px; background-color: #ddd; font-size:14px; border:1px solid black; border-right-width: 0px;}
.tab-vertical-link{text-decoration: none; padding: 7px 7px; display: block;}
.tab-vertical-item.active{background-color: white;position:relative;left: 1px; }
.tab-vertical-item.active .tab-vertical-link{background-color: white;}
.tab-vertical-page{border-top: 1px solid; float: left;display: none;font-size:14px;}
.tab-vertical-page.active{display: block;}